.container {
//  @include container($susy); 
  
  // Phone View 
  @include breakpoint(xs) {    
    @include container(4)  
      }
  
  // Tablet View 
  @include breakpoint(sm) {    
    @include container(8)  
      }

  // Desktop View 
  @include breakpoint(lg) {    
    @include container(12)  
      }
  
  // XL Screen View 
  @include breakpoint(xl) {    
    @include container(20)  
      }
}

body {
  @include breakpoint(xs) {
    background-color: lightgreen;
  }
  @include breakpoint(sm) {
    background-color: beige;
  }
}

.wide {
  @include container(100%);
  background: blue;
  padding: 2em 0;
  margin: 0em auto;
  text-align: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

.span-4 {
  @include span(4 float);
  height: 100px;
  background-color: darkgrey;
}

.gallery {
  @include container(100% inside);
  @include clearfix;  
  padding-bottom: 0;    
  @include breakpoint(xs) {
    @include nested(1 no-gutters);
  } 
  @include breakpoint(sm) {
    @include nested(3);
  }
  @include breakpoint(lg) {
    @include nested(4 no-gutters);
//    padding: gutter(4);
//    margin: gutter(4); 
//    @include bleed(gutter(4));
  }
  
  img {
    background-color: grey;
    height: 300px;
    width: 100%;
    @include breakpoint(xs) {
      @include gallery(1 of 1);
      margin-bottom: gutter(1);
    }
    @include breakpoint(sm) {
      @include gallery(1 of 3);
      margin-bottom: gutter(3);
    }
    @include breakpoint(lg) {
      @include gallery(1 of 4);
      margin-bottom: gutter(4);
    }
  }
}